.portfolio__container {
    display: flex;
    flex-direction: column;
}

.portfolio__title {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #A0A0A0;
    margin-bottom: 40px;
    @media (min-width: $screen-md) {
        font-size: 18px;
        margin-bottom: 50px;
    }
}

.portfolio__link {
    position: relative;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 40px;
    text-decoration: none;
    &::after {
        content: '';
        position: absolute;
        width: 11px;
        height: 11px;
        right: 11px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.56392 10.7145L8.97869 3.28693L8.96591 9.0142H10.3594V0.909091H2.26705L2.25426 2.28977H7.98153L0.566762 9.71733L1.56392 10.7145Z' fill='black'/%3E%3C/svg%3E%0A");
    }
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color:#E6E6E6;
        left: 0;
        bottom: -19px;
    }
    @media (min-width: $screen-md) {
        font-size: 28px;
        line-height: 50px;
        display: inline-block;
        &::after {
            right: 6px;
            width: 17px;
            height: 17px;
        }
    }
    @media (min-width: $screen-lg) {
        font-size: 30px;
        line-height: 50px;
        &::after {
            width: 18px;
            height: 18px;
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
}