.heading {
    background: #DDDEE3;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 30px;
    transition: .5s;
    @media (min-width: $screen-md) {
        padding-top: 140px;
        padding-bottom: 76px;
    }
    @media (min-width: $screen-lg) {
        padding: 75px 70px;
        flex-direction: row;
        justify-content: space-between;
    }
}

.heading__image {
    max-width: 210px;
    width: 100%;
    margin-bottom: 44px;
    transition: .5s;
    order: 1;
    @media (min-width: $screen-md) {
        max-width: 310px;
        margin-bottom: 48px;
    }
    @media (min-width: $screen-lg) {
        margin-bottom: auto;
        order: 2;
    }
}

.heading__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;

    @media (min-width: $screen-md) {
        max-width: 310px;
        margin-bottom: 48px;
    }
    @media (min-width: $screen-lg) {
        order: 1;
        max-width: 640px;
        align-items: unset;
        margin-right: 20px;
    }
}

.heading__title {
    font-weight: 400;
    font-size: 1.87rem;
    line-height: 2.37rem;
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
    max-width: 300px;
    margin-bottom: 24px;
    transition: .5s;

    @media (min-width: $screen-md) {
        max-width: 640px;
        font-size: 2.5rem;
        line-height: 3.12rem;
        margin-bottom: 22px;
    }

    @media (min-width: $screen-lg) {
        text-align: left;
        margin-bottom: 36px;
        font-size: 3.12rem;
        line-height: 3.62rem;
    }
}

.heading__subtitle {
    font-weight: 400;
    font-size: .81rem;
    line-height: 1rem;
    text-align: center;
    color: #000000;
    opacity: 0.5;
    max-width: 260px;
    margin-bottom: 80px;
    transition: .5s;
    @media (min-width: $screen-md) {
        margin-bottom: 92px;
    }
    @media (min-width: $screen-lg) {
        text-align: left;
        margin-bottom: 146px;
    }
}

.heading__button {
    width: fit-content;
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    background-color: inherit;
    border-radius: 3px;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1rem;
}