body {
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    p, h1 {
        margin: 0;
    }
    textarea:focus, input:focus{
        outline: none;
    }
    button {
        cursor: pointer;
        transition: .3s;
        &:hover {
            opacity: .3;
        }
    }
}