.btn {
    text-decoration: none;
    border: none;
    border-radius: 3px;
    font-weight: 500;
    font-size: .62rem;
    line-height: 1rem;
    color: #FFFFFF;
    padding: 5px 12px;
    transition: .3s;
    text-decoration: none;
    background: #3456F3;
    &:hover {
        opacity: .5;
    }
    @media (min-width: $screen-md) {
        font-size: .75rem;
        padding: 8px 20px;
    }

    &_nobg {
        background: none;
        color: #000;
    }
}