.navigation {
    left: 0;
    top: 0;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: -2;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.15);
    transition: .5s;
    @media (min-width: $screen-lg) {
        width: fit-content;
        margin-left: auto;
        overflow-y: unset;
        background-color: unset;
        position: unset;
        opacity: 1;
        z-index: 9;
        background-color: unset;
    }
}

.navigation_active {
    opacity: 1;
    z-index: 2;
}

.navigation__container {
    box-sizing: border-box;
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    max-width: 520px;
    width: 100%;
    height: 100%;
    background-color:#FAFAFA;
    padding-top: 159px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform .5s;
    @media (min-width: $screen-lg) {
        padding-bottom: 0;
        align-items: center;
        max-width: unset;
        transform: unset;
        padding-top: 0;
        flex-direction: row;
        position: unset;
        background-color: unset;
    }
}

.navigation_active .navigation__container {
    transform: translateX(0);
}

.navigation__link {
    display: inline-block;
    text-decoration: none;
    margin: 0 auto;
    max-width: 340px;
    width: 100%;
    font-weight: 500;
    font-size: 1.12rem;
    line-height: 1.37rem;
    color: #000000;
    margin-bottom: 28px;
    text-align: center;

    @media (min-width: $screen-lg) {
        margin-bottom: 0;
        max-width: unset;
        width: auto;
        margin-right: 20px;
    }

    &:last-child {
        margin-bottom: 0;
    }
    &_active {
        span {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -4px;
                width: 100%;
                height: 2px;
                background: #000000;
            }
        }
    }
}

.navigation__link_nopc {
    @media (min-width: $screen-lg) {
        display: none;
    }   
}

.navigation__link-profile {
    margin: 0 auto;
    width: fit-content;
    text-decoration: none;
    padding: 8px 20px;
    background: #F4F4F4;
    border-radius: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-top: auto;
    @media (min-width: $screen-lg) {
        margin-left: 30px;    
    }   
}