.header {
    background-color: #DDDEE3;
    padding: 18px 14px;
    display: flex;
    align-items: center;
    transition: .5s;
}

.header__btns {
    margin-left: auto;
}
.header__btn {
    margin-right: 2px;
}