.header {
    background-color: #dddee3;
    margin: 0;
    align-items: center;
    transition: 0.5s;
    display: flex;
    padding: 15px 14px;
    width: auto;
    @media (min-width: $screen-md) {
        padding: 18px 30px;
    }
    @media (min-width: $screen-lg) {
        padding: 18px 70px;
    }

    &_white {
        background-color: #fff;
    }
}

.header__btns {
    margin-left: auto;
    display: block;
}

.header__btns_logged {
    display: none;
}

.header__btn {
    margin-right: 2px;
}

.header__burger {
    margin-left: auto;
    display: none;
}

.header__burger_logged {
    display: block;
    @media (min-width: $screen-lg) {
        display: none;
    }
}

.header__logo-link {
    cursor: pointer;
    transition: 0.5s;
    &:hover {
        opacity: 0.3;
    }
}
