.block-title {
    margin: 0;
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 1.37rem;
    padding-bottom: 29px;
    border-bottom: 1px solid #000;
    color: #000;
    @media (min-width: $screen-md) {
        font-size: 22px;
        line-height: 27px;
        padding-bottom: 23px;
    }
}